<h1>Books</h1>

<% @books.each do |book| %>

  <p>タイトル</p>
  <span><%= book.title %></span>
  
<% end %>


<h2>New book</h2>
  <div class="field">Title<br>
	</div>
  <div class="field">Body<br>
  </div>
  <div class="field"></div
<% end %>